
.about{
    display: flex;
    align-items: center;
    padding: 60px 60px;
    padding-bottom: 30px;
}

.button{
    margin-right: 30px;
    text-decoration: none;
    border: 1px solid #000000;
    background-color: white;
    color: black;
    padding: 2px 25px;
    border-radius: 30px;
    display: flex; 
    justify-content: center;
}


.info{
    border: 1px solid #000000;
    padding: 30px 30px;
}

.don{
    margin-bottom: 30px;
}