body{
    font-family: 'Poppins';
}

.mainlogo{
    width: 80px;
}

.user{
    width: 80px;
    height: 80px;
}

.flexbox{
    display:flex;
    margin: 60px;
    align-items: center;
    gap: 60px;
}

.textbox{
    border: 1px solid #000000;
    border-radius: 90px;
    padding: 16px 40px;
    width: 2000px;
    height: 56px;
}

.ptext{
    font-size: 20px;
    font-weight: 600;
}

.navtext{
    display:flex;
    margin: 0px 170px 60px 170px;
    gap: 209px;
}

.navtext p{
    font-weight: 600;
}

.navtext .navactive{
    color: #ff0500;
}


.button{
    text-decoration: none;
    background: #ff0500;
    color: white;
    padding:0px 8px;
    border-radius: 30px;
    margin-bottom: 16px;
}

.box{
    margin-left: 60px;
    border: 1px solid #000000;
    padding: 11px 30px;
    width: 1320px;
    height: 94px;
    margin-bottom: 30px;
}

.pnotify{
    font-weight: 600;
    font-size: 16px;
    margin-top: -45px;
    margin-left: 90px;
}


