
.flexbox{
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navtext {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }


  .textbox {
    background-color: none;
      border: 1px solid #000000;
      border-radius: 90px;
      padding: 10px 40px;
      width: 80%;
    }

  .click {
    text-decoration: none;
    background: #FF500A;
    color: white;
    padding: 2px 15px;
    border-radius: 30px;
  }

  .button {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }

  .row{
    margin: 60px;
  }

  .create{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px 28px;
    background-color: #DEE3F0;
    border: 1px solid #000000;
    border-radius: 90px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }

  .chatbox {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #fafafa;
  }
  
  .form-control{
    border: 1px solid #000000;
  }