
.flexbox{
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navtext {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }


.textbox {
    border: 1px solid #000000;
    border-radius: 90px;
    padding: 16px 40px;
    width: 100%;
  }

  .click {
    text-decoration: none;
    background: #ff0500;
    color: white;
    padding: 0px 8px;
    border-radius: 30px;
  }

  .button {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }

  .row{
    margin: 60px;
  }

  .card {
    border: 1px solid #000000;
  }

  .create{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px 28px;
    background-color: #F1FFFF;
    border: 1px solid #000000;
    border-radius: 90px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }

  .chatbox {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    background-color: #fafafa;
  }
  
  .form-control{
    border: 1px solid #000000;
  }