.flexbox{
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navtext {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }


  .textbox {
    background-color: none;
      border: 1px solid #000000;
      border-radius: 90px;
      padding: 10px 40px;
      width: 80%;
    }

  .click {
    text-decoration: none;
    background: #FF500A;
    color: white;
    padding: 2px 15px;
    border-radius: 30px;
  }

  .button {
    text-decoration: none;
    font-weight: 600;
    color: #000000;
  }

.book-card {
    max-width: 250px;
    margin: 60px;
    border: none;
}

.author{
    display: flex;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}


