body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #FAFAFA;
    border: 1px solid #919191;
    padding: 60px 90px;
    border-radius: 60px;
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.box img {
    max-width: 100px;
    margin-bottom: 20px;
}

.box input {
    margin-bottom: 15px;
    background-color: #F7F5F4;
    border: 1px solid #919191;
}

.box .btn {
    width: 100%;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.button{
    color: red;
    font-weight: 600;
}