.box{
    margin: 259px 440px;
    border: 1px solid #000000;
    border-radius: 90px;
    padding: 53px 159px;
    width: 632px;
    height: 434px;
}
.sub{
    border: 1px solid #000000;
    margin-top: 20px;
    margin-left: -50px;
    border-radius: 5px;
    height:40px;
    width:400px;
    padding: 8px 30px;
    background-color: #EFEFEF;
    
}

.buton{
    border: 1px solid #000000;
    border-radius: 360px;
    height:40px;
    width:400px;
    padding: 1px 150px;
    background-color: #000000;
    margin-top: 30px;
    margin-left: -50px;
}

.button{
    color: red;
    font-weight: 600;
    margin-left: 230px;
    margin-bottom: 50px;
}
