.flexbox{
    display: flex;
    margin: 60px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navtext {
    margin: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }


  .textbox {
    background-color: none;
      border: 1px solid #000000;
      border-radius: 90px;
      padding: 10px 40px;
      width: 80%;
    }
.about{
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    padding: 15px 60px;

}

.story{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.button {
        display: block;
        margin: 30px auto;
        text-decoration: none;
        background-color: black;
        color: white;
        padding: 10px 50px;
        border-radius: 30px;
        text-align: center;
      }

      @media (max-width: 576px) {
        .button {
          width: 100%;
          padding: 10px 0;
        }
      }